<div class="row">
    <div class="col-md-6 mx-auto mt-5" >
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">Login</h1>
                <form  [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <div class="form-group">
                        <label for="email">Email: </label>
                        <input type="email" class="form-control" formControlName="Correo">
                    </div>
                    <div class="form-group">
                        <form action="password">Contraseña</form>
                        <input type="password" class="form-control" formControlName="Contraseña">
                    </div>
                    <div class="form-group">
                        <small style="color: red;" id="Comprobar"></small>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>