<div class="container">
  <div class="col-6 mt-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="Nombre">Nombre</th>
          <th scope="Edad">Apellido</th>
          <th scope="Apellido">Edad</th>
          <th scope="Correo">Correo</th>
          <th scope="Activo">Activo</th>
          <th scope="Fecha">Dia Inscripcion</th>
          <th scope="Eliminar">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{cliente.data.Nombre}}</td>
          <td>{{cliente.data.Apellido}}</td>
          <td>{{cliente.data.Edad}}</td>
          <td>{{cliente.data.Correo}}</td>
          <td>{{cliente.data.Activo}}</td>
          <td>{{cliente.data.DiaInscripcion}}</td>
          <td><button type="button" class="btn btn-success" (click)="deleteClient(cliente.id)"><i class="fas fa-trash-alt"></i> Eliminar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>